<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>music player index</title>
    <script>
        window.onload = function() {
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="music-list"></div>
    </div>
    <script src="js/musicAjax.js"></script>
    <script src="js/musicMain.js"></script>
</body>
</html>
